[Unit]
Description=pi-blaster-mqtt - PWM controller

[Service]
EnvironmentFile=-/etc/default/pi-blaster-mqtt
User=root
ExecStart=/usr/sbin/pi-blaster-mqtt $DAEMON_OPTS
ExecReload=/bin/kill -s HUP $MAINPID
Type=forking

[Install]
WantedBy=multi-user.target
After=network.target network-online.target
